---
const currentYear = new Date().getFullYear();
import { languages } from "../../i18n/languages";
import { useTranslations } from "../../i18n/useTranslations";
const { t, lang } = useTranslations(Astro);
---

<footer class="bg-zinc-100">
  <div class="mx-auto max-w-2xl p-2 sm:p-4 text-sm flex flex-col items-center">
    <span class="text-gray-700">&copy; {currentYear} {t("footer.copy")}</span>

    <span class="text-gray-700">{t("footer.why-copy")}</span>
    <span>
      {
        languages.map((l) => (
          <span>
            <a class="hover:underline" href={`/${l.code}`}>
              {l.displayName}
            </a>
          </span>
        ))
      }
    </span>
  </div>
</footer>
