---
const currentYear = new Date().getFullYear();
import { useTranslations } from "../../i18n/useTranslations";
import { isDarkModeEnabled } from "../../utils/flags";
import ColorSchemePicker from "./ColorSchemePicker.astro";
import LanguagesLinks from "./LanguagesLinks.astro";
const { t } = useTranslations(Astro);
---

<footer class="bg-zinc-100">
  <div class="mx-auto max-w-2xl p-2 sm:p-4 text-sm flex flex-col items-center">
    <span class="text-gray-700">&copy; {currentYear} {t("footer.copy")}</span>

    <span class="text-gray-700">{t("footer.why-copy")}</span>
    <LanguagesLinks />
    {isDarkModeEnabled && <ColorSchemePicker />}
  </div>
</footer>
