---
import { isBlogEnabled } from "../../utils/flags";
import HeaderLink from "./HeaderLink.astro";

const currentPath = Astro.url.pathname;
---

<header class="bg-zinc-100 shadow">
  <div
    class="mx-auto max-w-2xl p-2 sm:p-4 flex flex-col sm:flex-row items-center justify-between gap-y-1"
  >
    <a class="font-bold text-2xl hover:text-gray-700 py-2" href="/"
      >kolaczyn.com</a
    >
    <ul class="flex gap-x-1">
      <li>
        <HeaderLink openInNewTab href="https://github.com/kolaczyn">
          github
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://code-review-suggestions.vercel.app">
          code review
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="/projects" currentPath={currentPath}>
          projects
        </HeaderLink>
      </li>
      {
        isBlogEnabled && (
          <li>
            <HeaderLink href="/blog" currentPath={currentPath}>
              blog
            </HeaderLink>
          </li>
        )
      }
    </ul>
  </div>
</header>
