---
import Layout from "../layouts/Layout.astro";
import architektureImg from "../assets/cards/architektura.png";
import H1 from "../components/ui/H1.astro";
import PostPreviewCard from "../components/blog/PostPreviewCard.astro";
import { getCollection } from "astro:content";

const blogPosts = (await getCollection("blog")).map((blog) => ({
  id: blog.id,
  title: blog.data.title as string,
  imgUrl: architektureImg,
  teaser: "",
  publishDate: new Date().toString(),
  slug: blog.slug,
}));

const isBlogEnabled = true;
---

<Layout title="Paweł Kołaczyński | Blog">
  <main class="max-w-2xl mx-auto p-2 sm:p-4">
    {
      isBlogEnabled ? (
        <>
          <H1>Blog</H1>
          <div class="grid-cols-1 sm:grid-cols-2 grid gap-5">
            {blogPosts.map((x) => (
              <PostPreviewCard {...x} />
            ))}
          </div>
        </>
      ) : (
        <H1>Blog not ready yet</H1>
      )
    }
  </main>
</Layout>
