---
import Layout from "../layouts/Layout.astro";
import trackFitImg from "../assets/cards/track-fit.png";
import type { PostPreview } from "../types/PostPreview";
import PostPreviewCard from "../components/PostPreviewCard.astro";

const postPreviews: PostPreview = {
  title: "hello world",
  slug: "hello-world",
  publishDate: new Date().toString(),
  imgUrl: trackFitImg,
  teaser: "lorem ipsum dolor set amet lol das da d dfa",
};
---

<Layout title="Paweł Kołaczyński | Blog">
  <main class="max-w-2xl mx-auto p-2 sm:p-4">
    <h1 class="font-bold text-3xl mb-2">Blog</h1>
    <div class="grid-cols-1 sm:grid-cols-2 grid gap-5">
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
      <PostPreviewCard {...postPreviews} />
    </div>
  </main>
</Layout>
