---
import Link from "../components/ui/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paweł Kołaczyński">
  <main class="max-w-2xl mx-auto p-2 sm:p-4">
    <div>
      <h1 class="inline font-bold text-3xl">Hey, I'm Paweł,</h1>
      <span class="text-gray-800 text-2xl block md:inline">
        &nbsp;and here are a few fun facts about me:</span
      >
    </div>
    <ul class="list-disc list-inside text-lg mt-4 mb-2">
      <li>I'm a frontend developer specializing in React</li>
      <li>
        I have a modest portfolio of websites,
        <Link openInNewTab href="/projects">which you can see here</Link>
      </li>
      <li>I love learning about new frontend technologies</li>
      <li>Vim user</li>
      <li>
        Functional programming enjoyer
        <Link openInNewTab href="https://github.com/kolaczyn/fpts">
          (proof)
        </Link>
      </li>
    </ul>
    <h2 class="text-2xl font-bold text-left md:text-right mt-4 mb-2">
      My skillset
    </h2>
    <ul class="list-disc list-inside w-full md:w-1/2 ml-auto text-lg">
      <li>React, Redux, Next.js, Angular, Rxjs</li>
      <li>JavaScript, TypeScript</li>
      <li>Webpack, Vite</li>
      <li>
        Jest, Storybook, <abbr title="React Testing Library">RTL</abbr>, Cypress
      </li>
      <li>Astro, Solid, Qwik, Svelte</li>
      <li>Basic C# and .NET</li>
    </ul>

    <h2 class="text-2xl font-bold mt-4 mb-2">My job</h2>
    <ul class="list-disc list-inside text-lg">
      <li>I'm working at Rossmann SDP</li>
      <li>I hate working with Redux</li>
      <li>The previous two points were not related</li>
      <li>The previous point was a lie</li>
    </ul>

    <div class="text-left md:text-right">
      <h2 class="text-2xl font-bold mt-4 mb-2">Blog</h2>
      <Link href="/blog">Visit here</Link>
    </div>
  </main>
</Layout>
