---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paweł Kołaczyński">
  <main>
    <span>
      <h1>Hi, I'm Paweł,</h1>
      <span> and here are a few fun facts about me:</span>
    </span>
  </main>
</Layout>
