---
import Link from "./ui/Link.astro";
---

<header class="bg-zinc-100 shadow">
  <div class="mx-auto max-w-2xl p-2 sm:p-4 flex items-center justify-between">
    <a class="font-bold text-lg hover:text-gray-700" href="/">kolaczyn.com</a>
    <ul class="flex gap-x-3">
      <li>
        <Link href="https://github.com">github</Link>
      </li>
      <li>
        <Link href="mailto:kolaczyn@protonmail.com">mail</Link>
      </li>
      <li>
        <Link href="/projects">projects</Link>
      </li>
    </ul>
  </div>
</header>
