---
import Link from "../../components/ui/Link.astro";
import { useTranslations } from "../../i18n/useTranslations";
export { getLangStaticPaths as getStaticPaths } from "../../i18n/getLangStaticPaths";
import Layout from "../../layouts/Layout.astro";

const { t, lang } = useTranslations(Astro);
---

<link rel="canonical" href={`https://kolaczyn.com/${lang}/`} />
<Layout title="Paweł Kołaczyński">
  <main class="max-w-2xl mx-auto p-2 sm:p-4">
    <div>
      <h1 class="inline font-bold text-3xl">{t("home.h1-big")}</h1>&nbsp;<span
        class="text-gray-800 text-2xl block md:inline"
        >{t("home.h1-small")}</span
      >
    </div>
    <ul class="list-disc list-inside text-lg mt-4 mb-2">
      <li>{t("home.fun-facts.1")}</li>
      <li>
        {t("home.fun-facts.2.outside-link")}
        <Link openInNewTab href={`/${lang}/projects`}>
          {t("home.fun-facts.2.inside-link")}
        </Link>
      </li>
      <li>{t("home.fun-facts.3")}</li>
      <li>{t("home.fun-facts.4")}</li>
      <li>
        {t("home.fun-facts.5.outside-brackets")}
        <Link openInNewTab href="https://github.com/kolaczyn/fpts">
          ({t("home.fun-facts.5.inside-brackets")})
        </Link>
      </li>
    </ul>
    <h2 class="text-2xl font-bold text-left md:text-right mt-4 mb-2">
      {t("home.skillset.title")}
    </h2>
    <ul class="list-disc list-inside w-full md:w-1/2 ml-auto text-lg">
      <li>React, Redux, Next.js, Angular, Rxjs</li>
      <li>JavaScript, TypeScript</li>
      <li>Webpack, Vite</li>
      <li>
        Jest, TDD, <abbr title="React Testing Library">RTL</abbr>, Storybook,
        Cypress
      </li>
      <li>Astro, Solid, Qwik, Svelte</li>
      <li>{t("home.skillset.6")}</li>
    </ul>
  </main>
</Layout>
