---
import Layout from "../../layouts/Layout.astro";

import architectureImg from "../../assets/cards/architektura.png";
import techBlogImg from "../../assets/cards/tech-blog.png";
import trackFitImg from "../../assets/cards/track-fit.png";
import typingTestImg from "../../assets/cards/typing-test.png";
import ProjectCard from "../../components/projects/ProjectCard.astro";
import { useTranslations } from "../../i18n/useTranslations";
export { getLangStaticPaths as getStaticPaths } from "../../i18n/getLangStaticPaths";
const { t } = useTranslations(Astro);
---

<Layout title={t("projects.title")}>
  <main class="max-w-2xl mx-auto p-2 sm:p-4">
    <h1 class="font-bold text-3xl mb-4">{t("projects.header")}</h1>

    <div class="grid-cols-1 sm:grid-cols-2 grid gap-8">
      <ProjectCard
        href="https://architektura.kolaczyn.com/"
        title="Architect's Portfolio"
        description="Gatsby, Contentful as CMS"
        image={architectureImg}
      />
      <ProjectCard
        href="https://tech-blog.kolaczyn.com/"
        title="Tech Blog"
        description="Next.js, Tailwind"
        image={techBlogImg}
      />
      <ProjectCard
        href="https://fit-tracker.vercel.app/"
        title="Track Fit"
        description="Next.js, Redux Toolkit, ChakraUI"
        image={trackFitImg}
      />
      <ProjectCard
        href="https://typing-test.kolaczyn.com/"
        title="Typing Test"
        description="React, Firebase"
        image={typingTestImg}
      />
    </div>
  </main>
</Layout>
