---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Hey, I'm Paweł, a frontend developer specializing in React"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <div class="flex-1">
        <div class="py-2 sm:py-4">
          <slot />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
